<div class="container">
  <h1 class="title">凍結されたアカウントを解除します</h1>
  <p class="center user-confirmation">再度メールアドレスを入力して下さい</p>
  <div class="row">
    <div class="input-field col s12">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.email_field :email, class: "validate autocomplete", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            <%= f.label :email %>
          </div>
        </div>
        <div class="row">
          <div class="actions input-field col s12">
            <%= f.submit "送信", class: "btn waves-effect waves-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "users/shared/links" %>
</div>
