<div class="container">
  <h1 class="title">スレを立てよう！！</h1>
  <p class="center user-confirmation"></p>
  <div class="row">
    <div class="input-field col s12">
      <%= form_with model: @posting_thread, local: true do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= render "shared/error_messages", resource: f.object %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :title, class: "autocomplete",  data: { length: "100" } %>
            <%= f.label :title, 'タイトル' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_area :description, class: "materialize-textarea",  data: { length: "500" } %>
            <%= f.label :description, '詳細' %>
          </div>
        </div>
        <div class="row">
          <div class="actions input-field col s12">
            <%= f.submit "新しいスレッド作成", class: "btn waves-effect waves-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
